# External dependencies (cloned by install.py)
externals/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environment
.env
*.swp

# Other custom files/folders
demos/
tmp/

resources/videos/
oopsiebench/envs/behavior1k/teleop_videos/

